[submodule "day-16-24/WeSplit"]
	path = day-16-24/WeSplit
	url = https://github.com/adaltopicotti/WeSplit
[submodule "day-16-24/Convertex"]
	path = day-16-24/Convertex
	url = https://github.com/adaltopicotti/Convertex.git
[submodule "day-16-24/GuessTheFlag"]
	path = day-16-24/GuessTheFlag
	url = https://github.com/adaltopicotti/GuessTheFlag.git